html
{
    background: #ddd;
}

body
{
    background: transparent;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 2.5em;
}

.intro-text
{
    font-weight: 100;
}

h1,h2
{
    /*text-transform: uppercase;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h1
{
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}

.form-control.url-input
{
    height: 45px;
    font-size: 20px;
}

$header-height: 80px;

.snapshot-header
{
    min-height: $header-height;
    top: 0;
    border-bottom: 1px solid black;

    .row {
        margin-top: 15px;
    }

    h2 {
        margin: 0;
        font-size: 3em;
        a {
             color: black;
        }
    }

}

.snapshot-iframe
{
    position: fixed;
    background: white;
}


