$header-height: 80px;

.snapshot-header
{
    min-height: $header-height;
    top: 0;
    border-bottom: 1px solid black;

    .row {
        margin-top: 15px;
    }

    h2 {
        margin: 0;
    }

}

.snapshot-iframe
{
    position: fixed;
}

